.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}
.row:not(:last-child) {
  margin-bottom: 16px;
}

.value, .text {
  font-size: 26px;
  padding-left: 9px;
  padding-right: 16px;
  margin-top: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(76, 182, 113);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(80, 182, 76, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
  width: 200px;
}

.textbox {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 4px;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(76, 182, 76, 0.4);
}

.button:active {
  background-color: rgba(76, 182, 94, 0.2);
}

.hidden {
  visibility: hidden;
}

.fadeInAndOut {
  opacity: 1;
  animation: fade 0.5s linear;
  font-family: monospace;
}


@keyframes fade {
  0%,
  100% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}